{%- liquid
assign description = product.description
assign reviewApp = settings.review_app
assign enable_multi_tab = true
assign static_page = section.blocks | where: 'type', 'page'
-%}

<div class="product-description product-description-tab-pane">
  <div class="featured_group_tab-ui">
    {%- if enable_multi_tab -%}
    <div class="featured_group_tab-header">
      <ul class="featured_group_tab-list-link">
                    
          <li class="featured_group_tab-link active"><a class="nav-link" href="#tabs-description"
            aria-controls="tabs-description">{{ 'products.product.description' | t }}</a></li>

          <li class="featured_group_tab-link" id="tab_review_tabbed">
            <a class="nav-link" href="#tab-spec" aria-controls="tab-spec">Specification</a>
          </li>

          <li class="featured_group_tab-link" id="tab_review_tabbed">
            <a class="nav-link" href="#tab-faqs" aria-controls="tab-faqs">FAQs</a>
          </li>

      </ul>
    </div>
    {%- endif -%}

    <div class="tab-content">
      {%- if enable_multi_tab -%}
        <div class="featured_group_tab-pane active" id="tabs-description" item-description>
          {%- unless productSelect -%}
            {%- assign productSelect = product.selected_or_first_available_variant -%}
          {%- endunless -%}
          
          {% if productSelect.metafields.product.description != blank %}
            {{productSelect.metafields.product.description}}
          {% else %}
          {{ product.description }}
          {% endif %}
        </div>
        
        <div class="featured_group_tab-pane" id="tab-spec">
          {{ product.metafields.my_fields.specification }}
        </div>

        <div class="featured_group_tab-pane" id="tab-faqs">
          {{ product.metafields.my_fields.faqs }}
        </div>
        

      {%- else -%}
        <div class="featured_group_tab-pane active" id="tabs-description">
          {{ product.description }}

          {%- comment -%}
          **
          * Static Page Tab
          *
          {%- endcomment-%}
          {%- if static_page.size > 0 -%}
          {%- for block in static_page -%}
          {%- if block.settings.page != blank and pages[block.settings.page].content.size > 0 -%}
          <div class="static-page-block" id="tabs-page_{{block.id}}">{{ pages[block.settings.page].content }}</div>
          {%- endif -%}
          {%- endfor -%}
          {%- endif -%}



          {%- comment -%}
          **
          * Review Tab
          *
          {%- endcomment-%}
          {%- unless reviewApp == 'none' -%}
          <div class="review-block" id="tab-review">
            {%- render 'review', product: product, type: '' -%}
          </div>
          {%- endunless -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

